* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  font-size: 16px;
}

html {
  height: 100%;
}

.container {
  background-color: #e0e8ff;
  background-image: url(./images/pattern-background-desktop.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 450px;
  border-radius: 20px;
  background-color: #f5f7ff;
  overflow: hidden;
}

.card__top {
  background-image: url(./images/illustration-hero.svg);
  height: 220px;
  width: 100%;
}

.card__content {
  background-color: #fff;
  padding: 45px 48px 48px;
  text-align: center;
}

.card__tittle {
  display: block;
  color: #1f2f56;
  font-size: 1.75em;
  font-weight: 900;
  margin-bottom: 15px;
}

.card__text {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  color: #7280a7;
  line-height: 1.6;
  font-size: 1.02em;
}

.card__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: #f5f7ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  border-radius: 10px;
}

.card__plan-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  padding-left: 20px;
}

.card__plan-duration {
  font-weight: 900;
  color: #1f2f56;
  display: block;
  margin-bottom: 5px;
  font-size: 1.03em;
}

.card__plan-price {
  color: #7280a7;
}

.card__plan-change {
  font-weight: 900;
  color: #3829e0;
  text-decoration: underline;
  font-size: 0.9em;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.card__plan-change:hover {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.card__payment-button {
  background-color: #3829e0;
  color: white;
  padding: 15px;
  display: block;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 31px;
  font-size: 0.96em;
  height: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.card__payment-button:hover {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.card__cancel-order {
  color: #7280a7;
  font-weight: 700;
  font-size: 0.95em;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.card__cancel-order:hover {
  cursor: pointer;
  color: #1f2f56;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.attribution a {
  font-size: 11px;
  color: #3e52a3;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .card {
    width: 330px;
  }
  .card__top {
    height: 160px;
    background-size: contain;
  }
  .card__content {
    padding: 30px 25px 33px;
  }
  .card__tittle {
    font-size: 1.45em;
  }
  .card__plan {
    padding: 18px;
    margin-bottom: 25px;
  }
  .card__plan-duration,
  .card__plan-price {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .card__plan-change {
    font-size: 0.8em;
  }
  .card__payment-button {
    margin-bottom: 23px;
  }
}
/*# sourceMappingURL=style.css.map */